html {
    height: 100%;
}
body {
  /* background: #282828; */
  /* background: rgb(101,100,100);
  background: linear-gradient(0deg, rgba(101,100,100,1) 0%, rgba(40,40,40,1) 60%); */
  background: black;
  color: white;
}
#heading {
  margin-top: 20px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
#heading > h1 {
  font-size: 80px;
  margin-bottom: 0px;
}
#heading > span {
  font-size: 20px;
}
#main-container {
  padding: 20px;
  margin: 40px;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1000fr);
  grid-template-rows: 100fr 1000fr;
  font-family: 'Ramabhadra', sans-serif;
  column-gap: 2rem;
}
#posts-container {
  grid-row: 2 / 2;
  grid-column: 1 / 2;
  height: 40%;
  width: 100%;
  display: inline-block;
}
#info-container {
  grid-row: 2 / 2;
  width: 100%;
  grid-column: 2 / 2;
  color: white;
  background: #282828;
  border: 1px solid gray;
  padding: 10px;
}
.info-text {
  /* background: white; */
}
.collapsible-header {
   cursor: pointer;
   padding-bottom: 5px;
   font-size: 15px;
   font-weight: bold;
}
.collapsible-header p {
   color: gray;
   margin: 0px;
}
.collapsible-header p:hover {
  /* background: #282828; */
  color: white;
}
.collapsible-content {
  cursor: pointer;
  opacity: 1.0;
  transition: height 300ms ease-in-out, opacity 300ms 300ms, visibility 300ms linear 300ms;
  transition-timing-function: ease-out;
}
.collapsible-content.hide, .collapsible-content.hide *{
  transition: height ease-in ease-in, opacity 300ms ease-in, visibility 300ms hidden 300ms;
  transition-timing-function: ease-in;
  visibility: hidden;
  opacity: 0.0;
  height: 0px;
}
.loading-container {
  padding-top: 50px;
  margin: auto;
}
.post-container {
  width: 100%;
  color: white;
  background: black;
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 2fr;
  padding: 10px 0px 10px 0px;
  font-size: 15px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
  /* background: #282828; */
}
.post-container:first-child {
  border-top: 0px;
}
.post-container p {
  padding-top: 0px;
  margin: 0px 0px 0px 0px;
}
.post-platforms > a:hover, .post-platforms > a {
  color: white;
  text-decoration: none;
}
.post-title {
  font-style: italic;
  font-weight: bolder;
}
.post-artist {
  font-weight: lighter;
}
.post-container:hover > .post-image > img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.post-container:hover > .post-info{
  color: white;
}
.post-image {
  text-align: center;
  align-content: center;
}
.post-image img {
  border-radius: 40px;
  min-width: 70px;
  min-height: 70px;
  max-height: 70px;
  max-width: 70px;
}
.post-info {
  grid-column: 2 / 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2fr;
  color: rgb(215, 218, 220);
}
.post-info:hover {
  cursor: pointer;
}
.post-score {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  text-align: center;
  color: rgb(170, 170, 170);
}
.post-date {
  color: rgb(170, 170, 170);
}
#filter-collapsible-container {
  width: 100%;
  grid-row: 1 / 1;
  grid-column: 1/ 1;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}
#filter-container {
  display: grid;
  grid-template-rows: 10fr;
  grid-template-columns: repeat(4, 10fr);
  grid-column-gap: 20px;
}
#filter-container  > div > h1 {
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
#filter-container  > div > p {
  color: rgb(170, 170, 170);
  font-size: 14px;
}
#filter-container  > div > p:hover, #filter-container  > div > p.active-filter {
  cursor: pointer;
  color: white;
}
.release-filter {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.subreddit-filter {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}
.sort-filter {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}
.platform-filter {
  grid-row: 1 / 1;
  grid-column: 4 / 4;
}
.tabs {
  border: 1px solid gray;
}
.tab-content {
  padding: 1px;
  height: 450px;
  background: #282828;
  overflow-y: scroll;

  /* background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background:
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat; */
  /* background-color: white; */
  /* background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px; */
  /* Opera doesn't support this in the shorthand */
  /* background-attachment: local, local, scroll, scroll; */
}
.tab-content > h1 {
  text-align: center;
}
.tab-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  /* padding-bottom: 30px; */
  margin: 0px;
  border-bottom: 1px solid gray;
  background: black;
}
.tab-list-item {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-bottom: -3px;
  padding: 0.5rem 0.75rem;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  /* border-bottom: 1px solid white; */
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  color: gray;
}
.tab-list-active {
  cursor: pointer;
  font-weight: bolder;
  color: white;
  /* border: solid white; */
  /* border-width: 1px 1px 1px 1px; */
  /* border-bottom: 0px; */
  filter: brightness(95%);
}
.tab-list-active.albums-tab {
  border-bottom: 5px solid rgba(245, 0, 0, 0.75);
}
.tab-list-active.singles-tab {
  border-bottom: 5px solid rgba(17, 215, 0, 0.75);
}
.tab-list-active.eps-tab {
  border-bottom: 5px solid rgba(255, 199, 0, 0.75);
}
.tab-list-active.mixtapes-tab {
  border-bottom: 5px solid rgba(9, 119, 221, 0.75);
}
.tab-list-active.other-tab {
  border-bottom: 5px solid rgba(107, 47, 184, 0.75);
}
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bolder;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.hiphopheads-badge {
  /* background: #F91F02; */
  background: rgb(249,128,2);
  background: linear-gradient(0deg, rgba(249,128,2,1) 13%, rgba(249,16,2,1) 100%);
}
.indieheads-badge {
  /* background: #12C44E; */
  background: rgb(202,207,108);
  background: linear-gradient(0deg, rgba(202,207,108,1) 0%, rgba(61,148,39,1) 50%);
}
.rnb-badge {
  background: rgb(204,0,255);
  background: linear-gradient(0deg, rgba(204,0,255,1) 5%, rgba(207,48,70,1) 92%);
}
.RnBHeads-badge {
  background: rgb(204,0,255);
  background: linear-gradient(0deg, rgba(204,0,255,1) 5%, rgba(207,48,70,1) 92%);
}
.popheads-badge {
  background: #206BFF;
}
.mathrock-badge {
  background: #FFA500;
}
.no-content {
  text-align: center;
  font-size: 20px;
}
.post-link {
  background: white;
  font-size: 15px;
  color: black;
}
.option {
  color: black;
  background: #E5E5E5;
  width: 200px;
  height: 150px;
}
