/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
body {
  background: black;
  color: white;
}
#page-frame {
  /* display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 100px 700px 500px; */
}
#header {
  grid-column: span 12;
}
#main-container {
  padding: 20px;
  margin: 40px;
  width: 100%;
  background: black;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 500px 500px;
}
#posts-container {
  height: 40%;
  width: 50%;
  /* font-family: 'Indie Flower', cursive; */
}
.post-container {
  margin: 20px;
  width: 100%;
  min-height: 40px;
  max-height: 80px;
  color: black;
  background: none;
}
.post-container p {
  margin: 3px;
}
#options-container {
  margin: 20px 0px 0px 20px;
  grid-column: span 12;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#info-container {
  height: 40%;
  width: 50%;
  grid-row: 2/2;
  color: black;
  background: #E5E5E5;
}

.info-text {
  background: white;
}


/* Inactive tabs */
.albums-nav-link {
  background: rgba(245, 0, 0, 0.75);
  border-radius: 5px 5px 0px 0px;
}
.singles-nav-link {
  background: rgba(17, 215, 0, 0.75);
  border-radius: 5px 5px 0px 0px;
  margin-left: 2px;
}
.eps-nav-link {
  background: rgba(255, 199, 0, 0.75);
  border-radius: 5px 5px 0px 0px;
  margin-left: 2px;
}
.mixtapes-nav-link {
  background: rgba(9, 119, 221, 0.75);
  border-radius: 5px 5px 0px 0px;
  margin-left: 2px;
}
.others-nav-link {
  background: rgba(107, 47, 184, 0.75);
  border-radius: 5px 5px 0px 0px;
  margin-left: 2px;
}


/* Active tab */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link.focus {
  background-color: inherit;
  color: inherit;
  /* border: 3px solid #3366BB; */
  border-bottom: none;
}
/* Inactive tab */
.nav-tabs .nav-link {
  font-weight: bold;
  color: white;
}
.nav-tabs .nav-link:hover {
  font-weight: bolder;
  filter: brightness(95%);
}

/* Disabled tab */
.nav-tabs .nav-link.disabled {
  background-color: lightgray;
  color: darkgray;
}

.tab-content-container {
  background: #E5E5E5;
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}
.post-link {
  background: white;
  font-size: 15px;
  color: black;
}
.option {
  color: black;
  background: #E5E5E5;
  width: 200px;
  height: 150px;
}
