html {
    height: 100%;
    width: 100%;
}
body {
  margin: 0px;
  padding: 10px;
  background: black;
  color: white;
}
abbr {
  text-decoration: none;
}
footer  {
  margin: 100px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: gray;
}
footer > a {
  color: gray;
  text-decoration:none;
}
footer > a:hover {
  color: white;
}
#heading {
  margin-top: 20px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
#heading > .logo {
  font-size: 50px;
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}
#heading > span {
  color: gray;
  font-size: 15px;
}
#main-container {
  margin: 40px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ramabhadra', sans-serif;
}
#posts-container {
  height: 40%;
  width: 40%;
  display: inline-block;
}
#info-container {
  width: 100%;
  color: white;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
#info-container > a {
  color: inherit;
  text-decoration: none;
}
#info-container > span {
  color: gray;
}
#info-container > span:hover {
  color: white;
}
#info-container > .content {
  margin-top: 10px;
  overflow: hidden;
}
#info-container > .content > iframe {
  overflow-y: scroll;
  box-sizing: content-box;
}
.center {
  text-align: center;
}
.collapsible-header {
   cursor: pointer;
   padding-bottom: 5px;
   font-size: 15px;
   font-weight: bold;
}
.collapsible-header p {
   color: gray;
   margin: 0px;
}
.collapsible-header p:hover {
  /* background: #282828; */
  color: white;
}
.collapsible-content {
  cursor: pointer;
  opacity: 1.0;
  transition: height 300ms ease-in-out, opacity 300ms 300ms, visibility 300ms linear 300ms;
  transition-timing-function: ease-out;
}
.collapsible-content.hide, .collapsible-content.hide *{
  transition: height ease-in ease-in, opacity 300ms ease-in, visibility 300ms hidden 300ms;
  transition-timing-function: ease-in;
  visibility: hidden;
  opacity: 0.0;
  height: 0px;
}
.loading-container {
  padding-top: 50px;
  margin: auto;
}
.post-container {
  width: 100%;
  color: white;
  background: #111;
  background: #282828;
  display: grid;
  grid-template-rows: 3fr 20px;
  grid-template-columns: 2fr 10fr;
  padding: 10px 0px 20px 0px;
  font-size: 15px;
  margin-bottom: 5px;
}
.post-container:first-child {
  border-top: 0px;
}
.post-container p {
  padding-top: 0px;
  margin: 0px 0px 0px 0px;
}
.post-platforms {
  float: right;
}
.post-platforms > abbr {
  color: gray;
  margin: 0px 5px 0px 5px;
  font-size: 1.2em;
}
.post-platforms > abbr > a:hover, .post-platforms > abbr > a {
  color: gray;
  text-decoration: none;
}
.post-platforms:first-child {
  margin-left: 0px;
}
.post-platforms > abbr > a:hover {
  color: white;
}
.close-button {
  color: gray
}
.close-button:hover {
  color: white;
}
#info-container {
  border-bottom: 0.5px solid gray;
}
#info-container > .content > .post-platforms {
  margin: 0px auto 0px auto;
}
#info-container > .content > .post-platforms > a:hover {
  color: white;
}
#info-container > .content > .post-platforms > a:last-child {
  float: right;
}
.post-title {
  font-style: italic;
  font-weight: bolder;
}
.post-artist {
  font-weight: lighter;
}
.post-container:hover > .post-image > .album-art {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.post-container:hover > .post-info{
  color: white;
}
.post-image {
  text-align: center;
  align-content: center;
}
.post-image .album-art {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 40px;
  min-width: 50px;
  min-height: 50px;
  max-height: 70px;
  max-width: 70px;
  padding: 0px;
  margin: 0px 20px 0px 20px;
  border: .5px solid white;
}
.post-image > .video-art {
  min-width: 90px;
  min-height: 90px;
  max-height: 110px;
  max-width: 110px;
}
.post-info {
  line-height: 1.7;
  grid-column: 2 / 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2fr;
  color: rgb(215, 218, 220);
  padding-top: 10px;
}
.post-info:hover {
  cursor: pointer;
}
.post-score {
  text-align: center;
  color: rgb(170, 170, 170);
}
.post-score > span {
  color: orange;
}
.post-date {
  font-size: 10px;
  color: rgb(170, 170, 170);
}
#filter-collapsible-container {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}
#filter-container {
  display: grid;
  grid-template-rows: 10fr;
  grid-template-columns: repeat(4, 10fr);
  grid-column-gap: 20px;
}
#filter-container  > div > h1 {
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
#filter-container  > div > p {
  color: rgb(170, 170, 170);
  font-size: 14px;
}
#filter-container  > div > p:hover, #filter-container  > div > p.active-filter {
  cursor: pointer;
  color: white;
}
.release-filter {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.subreddit-filter {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}
.sort-filter {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}
.platform-filter {
  grid-row: 1 / 1;
  grid-column: 4 / 4;
}
.tabs {
  border: 1px solid gray;
}
.tab-content {
  padding: 1px;
  height: 450px;
  /* background: #282828; */
  background: black;
  overflow-y: scroll;
}
.tab-content > h1 {
  text-align: center;
}
/* width */
.tab-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tab-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

/* Handle */
.tab-content::-webkit-scrollbar-thumb {
  background: #ff4301;
}
.tab-content-container {
  background: black;
}
.tab-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0px 0px 2px 0px;
  border-bottom: 1px solid gray;
  /* background: black; */
  background: #111111;
}
.tab-list-item {
  text-align: center;
  display: inline-block;
  list-style: none;
  margin-bottom: -3px;
  padding: 0.5rem 0.75rem;
  padding-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  color: gray;
}
.tab-list-active, .tab-list-item:hover {
  cursor: pointer;
  font-weight: bolder;
  color: white;
}
.tab-list-item:after {
  margin-top: 5px;
  content: '';
  position: relative;
  width: 0; height: 3px;
  display: block;
  right: 0;
  background: #ff4301;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
.tab-list-item:hover:after {
  color: white;
  width: 100%;
  left: 0;
  background: #ff4301;
}
.tab-list-active:after {
  margin-top: 5px;
  content: '';
  position: relative;
  width: 100%; height: 3px;
  display: block;
  left: 0;
  right: 0;
  background: #ff4301;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 10px;
  font-weight: bolder;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}
.hiphopheads-badge {
  /* background: #F91F02; */
  background: rgb(249,128,2);
  background: linear-gradient(0deg, rgba(249,128,2,1) 13%, rgba(249,16,2,1) 100%);
}
.indieheads-badge {
  /* background: #12C44E; */
  background: rgb(202,207,108);
  background: linear-gradient(0deg, rgba(202,207,108,1) 0%, rgba(61,148,39,1) 50%);
}
.rnb-badge {
  background: rgb(204,0,255);
  background: linear-gradient(0deg, rgba(204,0,255,1) 5%, rgba(207,48,70,1) 92%);
}
.RnBHeads-badge {
  background: rgb(204,0,255);
  background: linear-gradient(0deg, rgba(204,0,255,1) 5%, rgba(207,48,70,1) 92%);
}
.popheads-badge {
  background: #206BFF;
}
.mathrock-badge {
  background: #FFA500;
}
.no-content {
  text-align: center;
  font-size: 20px;
}
.post-link {
  background: white;
  font-size: 15px;
  color: black;
}
.option {
  color: black;
  background: #E5E5E5;
  width: 200px;
  height: 150px;
}
