@media only screen and (max-width: 480px) {
  #page-frame > #heading {
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #heading > .logo {
    font-size: 25px;
    text-align: center;
  }
  #heading > span:last-child {
    display: none;
  }
  #posts-container {
    height: 40%;
    width: 100%;
    display: inline-block;
  }
  #info-container {
    width: 100%;
    color: white;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #filter-container {
    grid-column-gap: 10px;
  }
  #filter-container  > div > p {
    font-size: 10px ;
  }
  #filter-container  > div > h1 {
    font-size: 13px ;
    padding-bottom: 10px;
  }

  .tab-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0px;
    background: black;
    width: 100%;
  }
  .tab-list-item {
    width: 100%;
    list-style: none;
    margin-bottom: -3px;
    font-size: 15px;
  }
  .tab-content {
    padding: 1px;
    height: 350px;
    background: #282828;
  }
  .post-container {
    grid-template-rows: 3fr 20px;
    grid-template-columns: 10fr;
    padding: 10px 0px 20px 0px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .post-info, .post-date {
    grid-column: 1 / 1;
  }
  .post-score {
    text-align: left;
  }
  .post-image {
    display: none;
  }
  #filter-container  > div > p {
    color: rgb(170, 170, 170);
    font-size: 10px;
  }
}
/* Galaxy S5 */
@media only screen and (max-width: 640px) {
  #page-frame > #heading {
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
  #heading > .logo {
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
  }
  #heading > span:last-child {
    display: none;
  }
  #main-container {
    margin: 0 auto;
    margin: 0px;
  }
  #posts-container {
    height: 40%;
    width: 100%;
    display: inline-block;
  }
  #info-container {
    width: 100%;
    color: white;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #filter-container {
    grid-column-gap: 10px;
  }
  #filter-container  > div > p {
    font-size: 10px ;
  }
  #filter-container  > div > h1 {
    font-size: 13px ;
    padding-bottom: 10px;
  }
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0px;
    background: black;
    width: 100%;
  }
  .tab-list-item {
    width: 100%;
    list-style: none;
    margin-bottom: -3px;
    font-size: 15px;
  }
  .tab-content {
    padding: 1px;
    height: 350px;
    background: black;
  }
  .post-container {
    grid-template-rows: 3fr 20px;
    grid-template-columns: 10fr;
    padding: 10px 0px 20px 0px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .post-info, .post-date {
    grid-column: 1 / 1;
  }
  .post-score {
    text-align: left;
  }
  .post-image {
    display: none;
  }
  #filter-container  > div > p {
    color: rgb(170, 170, 170);
    font-size: 10px;
  }
}
/* iPhone 6/7/8/X */
@media only screen and (max-width: 768px) {
  #heading {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  #heading > h1 {
    display: table;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  #main-container {
    margin: 0 auto;
    margin: 0px;
  }
  #posts-container {
    height: 50%;
    width: 100%;
    display: inline-block;
  }
  #info-container {
    width: 100%;
    color: white;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #filter-container {
    grid-column-gap: 10px;
  }
  #filter-container  > div > h1 {
    font-size: 12px ;
    padding-bottom: 10px;
  }
  #filter-container  > div > p {
    color: rgb(170, 170, 170);
    font-size: 10px;
  }
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0px;
    background: black;
    width: 100%;
  }
  .tab-list-item {
    width: 100%;
    list-style: none;
    margin-bottom: -3px;
    font-size: 15px;
  }
  .tab-content {
    padding: 1px;
    height: 700px;
    background: #282828;
  }
  .tab-content {
    background: black;
  }
  .post-info {
    padding-left: 10px;
  }
  .post-date {
    padding-left: 10px;
  }
  .post-score {
    padding-left: 10px;
  }
  .post-image img {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  #heading {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  #heading > h1 {
    display: table;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  #main-container {
    margin: 0 auto;
    margin: 0px;
  }
  #posts-container {
    height: 50%;
    width: 100%;
    display: inline-block;
  }
  #info-container {
    width: 100%;
    color: white;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #filter-container {
    grid-column-gap: 10px;
  }
  #filter-container  > div > p {
    font-size: 15px ;
  }
  #filter-container  > div > h1 {
    padding-bottom: 10px;
  }
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0px;
    background: black;
    width: 100%;
  }
  .tab-list-item {
    width: 100%;
    list-style: none;
    margin-bottom: -3px;
    font-size: 15px;
  }
  .tab-content {
    padding: 1px;
    height: 700px;
    background: black;
    overflow-y: scroll;
  }
  .post-info {
    padding-left: 10px;
  }
  .post-date {
    padding-left: 10px;
  }
  .post-score {
    padding-left: 10px;
  }
  .post-image img {
    padding-left: 10px;
  }
}
